/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 20px;
    background-color: black;
  }
  
  .Post {
    max-width: 375px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos del encabezado */
  #Post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-icon {
    margin-right: 10px;
  }
  
  .user-info {
    font-size: 15px;
  }
  
  #Post-image img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  /* Estilos del cuerpo del post */
  .Post-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Post-icon i {
    margin-right: 10px;
  }
  
  .text-1 {
    margin-bottom: 10px;
    font-size: 13px
  }
  
  .text-2 {
    color: hsl(0, 1%, 42%);
    font-size: 13px
  }
  
  /* Estilos de FontAwesome */
  .fa {
    font-size: 28px;
  }
  
  .fa-heart-o {
    color: #ed4956;
  }
  
  .fa-bookmark-o {
    color: #333;
    margin-left: 245px;
  }
  
  .fa-ellipsis-v {
    margin-left: auto;
  }